torch>=2.0.1
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
dataclasses
fire
peft
huggingface_hub
transformers>=4.33.0
sentencepiece
py7zr
scipy
optimum
transformers_stream_generator==0.0.4
tiktoken
einops
deepspeed
trl